{% load static %}
<head>
	<script src="jquery-3.1.1.min.js"></script>
	<meta name="google-signin-client_id" content="427104067013-l2kc1tkhgmc8ghtgmkkvf4494teqiq3q.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
	<script src="{% static 'TradeNet/OAuth.js' %}"></script>
</head>

<body>
{% if 'member_name' not in request.session %}
	<p>You are not logged in. Go to the home page to login</p>
	<a href="{% url 'TradeNet:index' %}">Home page</a>
{% else %}
	{%if message %}
		<p>{{message}}</p>
		<br>
	{% endif %}
	<p>{{request.session.member_name}} is logged in</p>
	<a href="{% url 'TradeNet:index' %}">Home page</a>
	<a href="{% url 'TradeNet:portfolio' %}">Portfolio</a>
	<a href="{% url 'TradeNet:stocks' %}">Search Stocks</a>
	<a href="#" onclick="signOut();">log out</a>
	<br>
	<br>
	<p>{{quote_results.quotes.quote.symbol}} stock page</p>
	<br>
	<a href="{% url 'TradeNet:buy_sell' quote_results.quotes.quote.symbol 'buy' %}">Buy Shares</a>
	<br>
	<p>{{quote_results.quotes.quote.description}}</p>
	<br>
	<p>stock price: ${{quote_results.quotes.quote.last}}</p>
	<br>
	<p>today's high: ${{quote_results.quotes.quote.high}}</p>
	<br>
	<p>today's low: ${{quote_results.quotes.quote.low}}</p>
	<br>
	<p>today's opening price: ${{quote_results.quotes.quote.open}}</p>
	<br>
	<p>52 week high: ${{quote_results.quotes.quote.week_52_high}}</p>
	<br>
	<p>52 week low: ${{quote_results.quotes.quote.week_52_low}}</p>
	<br>
	<br>
	<p> Tweets about {{quote_results.quotes.quote.symbol}}:</p>
	<ul>
		{% for obj in tweet_results %}
			<li>{{obj.user.screen_name}} tweeted: {{ obj.text }}</li>
    		<li>Retweet Count: {{ obj.retweet_count }}</li>
    		<li>Favorite Count: {{ obj.favorite_count }}</li>
    		<li>Created at: {{ obj.created_at }}</li>
    		<br>
		{% endfor %}
</ul>
{% endif %}
</body>
