{% load static %}
<head>
	<script src="jquery-3.1.1.min.js"></script>
	<meta name="google-signin-client_id" content="427104067013-l2kc1tkhgmc8ghtgmkkvf4494teqiq3q.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
	<script src="{% static 'TradeNet/OAuth.js' %}"></script>
</head>

<body>
{% if 'member_name' not in request.session %}
	<p>You are not logged in. Go to the home page to login</p>
	<a href="{% url 'TradeNet:index' %}">Home page</a>
{% else %}
	{%if message %}
		<p>{{message}}</p>
		<br>
	{% endif %}
	<p>{{request.session.member_name}}'s Portfolio</p>
	<a href="{% url 'TradeNet:index' %}">Home page</a>
	<a href="#" onclick="signOut();">log out</a>
	<br>
	<br>
	<p>Transactions:</p>
	{%if transactions %}
		{% for each in transactions %}
			{%if each.buy %}
				<p>BOUGHT: {{each.quantity}} shares of {{each.stock.company}} stock for ${{each.price}} each</p>
				<br>
			{%else%}
				<p>SOLD: {{each.quantity}} shares of {{each.stock.company}} stock for ${{each.price}} each</p>
				<br>
			{% endif %}
		{% endfor %}
	{%else%}
		<p>You have not traded any stocks</p>
	{% endif %}
	<br>
	<a href="{% url 'TradeNet:portfolio' %}">Portfolio</a>
{% endif %}
</body>
