{% load static %}
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<meta name="google-signin-client_id" content="427104067013-l2kc1tkhgmc8ghtgmkkvf4494teqiq3q.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
	<script src="{% static 'TradeNet/OAuth.js' %}"></script>
</head>

<body>
{% if 'member_name' not in request.session %}
	<p>You are not logged in. Go to the home page to login</p>
	<a href="{% url 'TradeNet:index' %}">Home page</a>
{% else %}
	<p>{{request.session.member_name}}'s Portfolio</p>
	<a href="{% url 'TradeNet:index' %}">Home page</a>
	<a href="#" onclick="signOut();">log out</a>
	<br>
	<br>
	<p>enter how much money you want to remove to your account:</p>
	<form action="{% url 'TradeNet:portfolio' %}" method="post">
		{% csrf_token %}
		<input type="text" name="funds">
		<input type='hidden' value='withdrawal' name='update'>
		<br>
		<input type="submit" value="withdrawal" />
	</form>
{% endif %}
</body>
